@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* * {
  font-family: "Montserrat", sans-serif;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.group:hover > div:not(:hover) {
  filter: blur(4px); /* Adjust blur intensity */
}

.glass {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.scrollable {
  gap: 1.25rem;
  animation: infiniteScroll 20s linear infinite;
  cursor: grab; /* Changes cursor for drag */
}

.scrollable:active {
  cursor: grabbing;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Duplicate items to create seamless scrolling */
.scrollable > * {
  flex-shrink: 0; /* Prevent items from shrinking */
}

